{% load staticfiles %}
<html>
  <head>
    <link href="{% static 'bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
         <title>WELCOME TO TRAVITTER</title>
    </head>
    
  <body>
        <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Travitter</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div class="page-header">
        <p style="padding:15px; !important"class="lead">Sign in to Travitter with your Twitter Account</p>
      </div>

      <div class="row">
        <form>
        <div class="col-xs-4">
           <a href="{% url "socialauth_begin" 'twitter' %}">Login with Twitter</a>      
        </div>
       
        </form>
      </div>

    </div> <!-- /container -->

    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery.js"></script>

  </body>
</html>